extends layout

block content
  h1= title
  p Welcome #{title} search results are
  - var image_names = ["titan.jpg","tommyhilfiger.jpg","timex.jpg","rolex.jpg","apple.jpg"]
  - for(let i=0; i<3; i++){
    - var j=Math.floor(Math.random()*5);
    - var img_j=image_names[j];
    image(height="300" width="300" src=`\\images\\${img_j}` alt=`${img_j}` )
  - }